
body{
    font-size: small;
}

a{
    text-decoration: none;
    color: #000;
}

.head{
    height: 90px;
}

#logo{
    display: inline-block;
    font-size: 3em;
    width: 330px;
    margin-left: 200px;
    margin-top: 36px;
    color: black;
}

#search{
    display: inline-block;
    height: 90px;
    vertical-align: top;
    margin-left:  300px;
}

.search-content{
    display: inline-block;
    vertical-align: bottom;
    width: 400px;
    height: 40px;
    padding: 3px 0 3px 20px;
    font-size: 14px;
    color: #7d7d7d;
    line-height: 30px;
    background-color: #fff;
}

.search-btn {
    display: inline-block;
    vertical-align: bottom;
    width: 68px;
    height: 40px;
    border: none;
    background-color: #407fff;
    font-size: 15px;
    font-weight: 100;
    color: white;
    cursor: pointer;
    margin-left: -7px;
}

#search form{
    padding-top: 40px;
}

#top_bar{
    margin-top: 20px;
    /*border: 2px solid red;*/
}

.display{
    display: inline-block;
}
#page_name{
    width: 200px;
    line-height: 45px;
    text-align:  center;
    font-size: 1.5em;
    margin-left: 160px;
    color: white;
    background-color: #407fff;
    border-bottom: 1px solid #407fff;
}

#bar{
    margin-left: 50px;
    vertical-align: top;
}

#bar ul{
    margin: 0px;
    padding: 0px;
}

.function{
    list-style-type: none;
    width: 380px;
    height: 40px;
    padding-top: 5px;
}

.function li{
    width: 80px;
    height: 100%;
    line-height: 100%;
    margin-left: -5px;
}

.function a{
    display: inline-block;
    text-align: center;
    font-size: 1.2em;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: black;
}
a:hover{
    color: white;
    background-color: #407fff;
}

.cut_line p{
    margin: 0px;
    padding: 0px;
    border-bottom: 4px solid #2a8cd7;
}


.main{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    width: 752px;
}

.main-header{
    padding-top: 30px;
    height: 50px;
}


.info-table {
    margin-top: 30px;
}
.tablerow{
    display: table-row;
    height: 40px;
    line-height: 40px;
}

.tablerow p{
    display: table-cell;
    font-size: 1.2em;
    vertical-align: top;
    margin-left: 50px;
    width: 200px;
}

.tablerow p:first-child{
    width: 100px;
    text-align: right;
    padding-right: 20px;
}

.info-table input {
    width: 200px;
    height: 25px;
    line-height: 25px;
    border: none;
}

.info-table textarea{
    width: 400px;
    height: 150px;
    border: none;
}

#brief p{
    padding-top: 30px;
}

#brief p:first-child{
    vertical-align: top;
}
.intro p{
    font-size: 1.5em;
    padding-left: 10px;
    border-left: 4px solid #407fff;
}

#table{
    border-collapse: collapse;
    border: 0px white;
    font-size: 1.2em;
    font-weight: lighter;
    /*margin-top: 15px;*/
}
.btn_group{
    width: 180px;
    margin: 15px auto;
}

#btn2{
    color: white;
    background: red;
    margin-left: 30px;
}
#head{
    background-color: #407fff;
}
.underline{
    border-top: 1px solid #c0ccbb;
}

.footer{
    position:absolute;
    left:20px;
    bottom:110px;
    color: ivory;
    font-family: "Microsoft Yahei";
    font-weight: bold;
}
h1{
    color:white;
}
.left{
    position: fixed;
    left: 0px;
    top: 30%;
}

.container{
    margin: 0px auto;
    width: 100%;
    margin-top: 10px;
    border: 1px white;
    border-bottom:black;
    height:73px;
}
.info{
    height: 22px;
    background-color: cornflowerblue;
}
.number{
    width: 5%;
    color: white;
    text-align: center;
}
.username{
    width: 15%;
    color: white;
    text-align: center;
}
.realname{
    width:15%;
    color: white;
    text-align: center;
}
.description{
    width:30%;
    color: white;
    text-align: center;
}
.operation{
    width: 20%;
    color: white;
    text-align: center;
}
.id_number{
    width: 15%;
    color: white;
    text-align: center;
}
.handdleh1{
    height: 30px;
    width: 60%;
    margin-left: 20%;
    color:rgb(238, 77, 13);
    text-align:center;
}

.order{
    padding-right: 70px;
    padding-bottom: 11px;
    padding-top: 11px;
    text-align: justify;
}
.interface{
    width: 100%;
    border-collapse: collapse;

}
.td{
    text-align: center;
    color: black;

}
.table{
    color: black;
    width: 100%;
    border-collapse: collapse;
}
.table td{
    color:black;
    text-align: center;
}
.table a{
    color: dodgerblue;
    text-align: center;
}
table a:hover{
    color: chocolate;
}
.button1 a{
    color: black;
    width: 8%;
}
.button2 a{
    color: #6e4f00;
    width: 8%;
}