*{
    margin: 0px;
    padding: 0px;
}
body{
    font-size: small;
}

a{
    text-decoration: none;
}

div.head-top{
    /* height:60px;*/
    color: black;
    height: 25px;
    margin-top: 10px;
    /*border: 1px solid red;*/
}

div.top-r{
    float: right;
    padding-right: 70px;
}

div.top-r a{
    color: black;
    display: inline-block;
    margin-left: 15px;
}
div.cr-top{
    font: 14px "\5FAE\8F6F\96C5\9ED1";
}
div.top-width{
  width: 100%;
  height: 60px;
}

.head{
    height: 90px;
    /*border: 1px solid red;*/
    /*padding-top:40px;
    padding-left:10%;
    height: 40px;
    width:  100%;
    background: url("../img/banner1.jpg");*/
}

#logo{
    padding: 0px;
    display: inline-block;
    font-size: 3em;
    width: 330px;
    margin-left: 200px;
    margin-top: 32px;
    color: black;
    /*border: 1px solid red;*/
}

#top_bar{
    margin-top: 20px;
    /*border: 2px solid red;*/
}

.display{
    display: inline-block;
}
#page_name{
    width: 200px;
    line-height: 45px;
    text-align:  center;
    font-size: 1.5em;
    margin-left: 160px;
    color: white;
    background-color: #407fff;
    border-bottom: 1px solid #407fff;
}

#bar{
    margin-left: 50px;
    vertical-align: top;
}

#bar ul{
    margin: 0px;
    padding: 0px;
}

.function{
    list-style-type: none;
    width: 380px;
    height: 40px;
    padding-top: 5px;
}

.function li{
    width: 80px;
    height: 100%;
    line-height: 100%;
    margin-left: -5px;
}

.function a{
    display: inline-block;
    text-align: center;
    font-size: 1.2em;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: black;
}
a:hover{
    color: white;
    background-color: #407fff;
}

.cut_line p{
    margin: 0px;
    padding: 0px;
    border-bottom: 4px solid #2a8cd7;
}

div.main{
  clear: both;
  width: 70%;
  /*border: 1px solid red;*/
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  /*padding-left: 50px;
  padding-right:50px;
  margin-top: 10px;*/
}
.line{

  /*line-height: 30px;*/
  margin-top: 5px;
  color: #013660;
  font-size: 16px;
  font-weight: bolder;
  /*padding: 0px 0px 25px 0px;*/
  border-bottom: solid 1px #dae1d6;
  /*text-align: center;*/
  /*clear: both;*/
  width: 100%;
}

div.detail_header{
  background-color: #00aeff;
  color: white;
  padding: 2px 10px;
  height: 35px;
  margin-top: 20px;
}
div.top-l{
  float:left;
  padding-left:20px;
}
div.top-r{
  float: right;
  /*padding-top: 20px;*/
  padding-right: 70px;
}

.glyph{
  font-size: 20px;
}
span.logo-p{
  display: inline-block;
  color: #fff;
  font-size: 24px;
  line-height: 60px;
  vertical-align: middle;
  max-width: 200px;
}

#search{
    display: inline-block;
    height: 90px;
    vertical-align: top;
    margin-left:  300px;
    /*border: 1px solid red;*/
}

#search form{
    padding-top: 40px;
}

div.line-box{
  height: 60px;
  border-bottom: 3px solid #2F8BD6;
}
div.line-box h1{
  position: relative;
  margin: 0 auto;
  padding-left: 116px;
  color: #333;
  font: normal 24px/60px "Microsoft YaHei","微软雅黑";
  float: left;
  background: url("../img/h1Line.png") 105px 12px no-repeat scroll transparent;
}
div.search-pos{
  margin-right: 0;
  /*top: 70px;*/
  /*left: 1000px;*/
  margin-left: 300px;
  border: 1px solid red;
}
div.col-lg-2{
  display: inline-block;
  /*float:right;*/
  /*width: 350px;*/
  width: 470px;
}
/*.input-group-btn{
  font-size: 0;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  width: 1%;
}*/
/*div.input-group{
  padding-top: 10px;
}*/
div.info-container{
  /*padding: 50px 20px 5px 20px;*/
}
p.someinfo{
  text-align: center;
  margin-top: 10px;
  clear: both;
}
div.sub{
  position: absolute;
  border: 1px solid black;
  width: auto;
  height: auto;
  left: 35%;
  padding: 50px;
}
#question{
  text-align: center;
}
p.discribe{
  margin-bottom: 0px;
  padding-top: 15px;
  font: 17px  "Microsoft Yahei"
}
h3.file_title{
  line-height: 0px;
  text-align: center;
  font: 24px/1.6 "Microsoft Yahei";
  /*border: 1px solid red;*/
    width: 100%;
}

#file_title p{
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
}

#file_title .upload-time{
    /*border: 1px solid red;*/
    margin-top: 0px;
    text-align: right;
    font-size: 1.1em;
    margin-right: 10px;
}
.author{
    display: inline-block;
    margin-left: 10px;
}

div.btn_group{
  padding-top: 30px;
  text-align:center;
}
div.detail_info{
  padding: 0px 150px 30px 150px;
  margin-top: 15px;
}
div.info{
  font: 16px/2 "Microsoft Yahei";
  text-align: left;
/* height: 400px; */
}
#info span {
  /*white-space: pre-line;*/
}

#reference {
    margin-top: 30px;
}

#reference h4{
    margin-bottom: 0px;
}

#reference .line{
    border: solid 1.5px #dae1d6;
    margin-top: 5px;
}

.detail-ref{
    margin-top: 30px;
    font-size: 1.1em;
}

.detail-ref span{
    display: inline-block;
}

.ref-title{
    margin-left: 10px;
}
.ref-author{
    margin-left: 4px;
}

.magzine-type{
    margin-left: 4px;
}

.ref-time{
    margin-left: 2px;
}

p.catalog_keyword , p.catalog_classify{
  margin-bottom: 0px;
}

span.more{
  font: 16px/2 "Microsoft Yahei";
}
span.reset{
  font: 16px/2 "Microsoft Yahei";
}
.etc-text{
  text-align: center;
    font-size: 1.1em;
}
div.footer{
  min-width: 1200px;
  background: #485362;
  margin: auto;
  margin-top: 40px;
  color: #ffffff;
  font-size: 14px;
  font-family: "微软雅黑";
  text-align: center;
  clear: both;
  padding: 20px 0px 20px;
  position: relative;
  top: 300px;
}
div.confirm_buy{
  position: fixed;
  height: 200px;
  width: 400px;
  left: 36.5%;
  top: 40%;
  background-color: #e2e2e2;
  visibility: hidden;
  color: #0e0000;
  font-family: "Microsoft Yahei";
  border-radius: 20px;
}
.confirm_buy h3{
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 8px;
}
.confirm_buy h4{
  text-align: center;
  padding-top: 10px;

}
div.button-group{
  text-align: center;
}
p.point-info{
  text-align: center;
  padding-top: 5px;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
div.col-lg-2 {
    /**float: right;*/
    display: inline-block;
    /*width: 350px;*/
    width: 470px;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
/*.input-group .form-control {
  /*position: relative;
  z-index: 2;*/
  /*float: left;*/
  /*width: 100%;
   width: 470px;
  margin-bottom: 0;
}*/

input.form-control {
  /*display: inline-block;
  display: block;
  width: 100%;
  width: 400px;
  height: 40px;
  line-height: 40px;
  padding: 6px 12px;
  padding: 3px 0 3px 20px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
    display: inline-block;
    /*vertical-align: bottom;*/
    width: 400px;
    height: 40px;
    padding: 3px 0 3px 20px;
    font-size: 14px;
    color: #7d7d7d;
    line-height: 45px;
    background-color: #fff;
}
.btn{
    display: inline-block;
    vertical-align: bottom;
    width: 68px;
    height: 40px;
    border: none;
    background-color: #407fff;
    font-size: 15px;
    font-weight: 100;
    color: white;
    cursor: pointer;
    margin-left: -7px;
    /*display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    height: 45px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;*/
}
/*#search_btn{
  background-image: linear-gradient(to bottom,#f0ad4e 0,#eb9316 100%);
  background-repeat: repeat-x;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  color: white;
  padding:6px 12px;
}
#search_btn:hover{
  background-color: #eb9316;
  background-position: 0 -15px;
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
  text-decoration: none;
}*/
#btn1, #btn2, #btn3{
  background-image: linear-gradient(to bottom,#428bca 0,#2d6ca2 100%);
  background-repeat: repeat-x;
  border-color: #2b669a;
    width: 100px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  padding: 10px 16px;
  margin-left: 10px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  color: #fff;
  background-color: #428bca;
}
#btn4{
  background-image: linear-gradient(to bottom,#5cb85c 0,#419641 100%);
  background-repeat: repeat-x;
  border-color: #3e8f3e;
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
  color: #fff;
  background-color: #5cb85c;
    width: 100px;
  padding: 10px 16px;
    margin-left: 10px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
#btn1 a{
    width: 200px;
  color:white;
  text-decoration: none;
}
#btn3 a{
  color:white;
  text-decoration: none;
}
.home{
  color: white;
  font-size: 50px;
  float: left;
  padding-top: 10px;
  padding-left: 80px;
}
.remove-btn{
  float: right;
  padding-right: 15px;
  padding-top: 10px;
  color: white;
}
.notice-lack-of-point{
  position: fixed;
  height: 175px;
  width: 200px;
  left: 43%;
  top: 40%;
  background-color: #cad1d6;
/* visibility: hidden; */
  color: #0e0000;
  font-family: "Microsoft Yahei";
  border-radius: 20px;
}
.notice-lack-of-point h3{
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 2px;
  padding-bottom: 10px;
  border-bottom: 1.5px solid white;
}
.notice-lack-of-point p{
  text-align: center;
  font-size: 16.0px;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
}
.notice-lack-of-point button{
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 5px;
  border-color: #ccc;
  text-shadow: 0 1px 0 #fff;
  background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
  color: #333;
  background-color: #fff;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
}
.exclamation-sign{
  color: #ff0303;
}
.list-group{
  position:fixed;
  left:5px;
  padding-top: 15px;
}
.move{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #e2e2e2;
  border-radius: 10px;
  padding-right:35px;
}
.listhd{
  background-color: #ededed;
  padding-top: 10px;
  font-size: 20px;
  border: 1px solid #dadada;
  border-radius: 2px;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
}
.listhd label{
  font: bold 20px/38px "Microsoft Yahei";
}
a.list-group-item{
  padding-right: 70px;
  padding-bottom: 11px;
  padding-top: 11px;
  text-align: justify;
}
