*{
    margin: 0px;
    padding: 0px;
}
body{
    background: url("../img/index_background.jpeg");
}
li{
    list-style-type: none;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 2px grey solid;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: chocolate;
}
.head{
    height: 100px;
    margin-top:20px;
    margin-left: 100px;
    margin-right: 100px;
    color: chocolate;
    font-weight: bold;
    font-size: 15px;
}
.function{
    float:left;

}
.userInfo{
    float:right;
}
.search{
    margin-top: 200px;
    margin-left: 100px;
    width: 649px;
}
.search-content{
    float: left;
    width: 555px;
    height: 20px;
    padding: 15px 0 15px 20px;
    font-size: 14px;
    line-height: 20px;
    background-color: #fff;
}
.search-btn {
  width: 68px;
  height: 54px;
  border: none;
  border-radius: 0 2px 2px 0;
  background: dodgerblue;
  font-size: 15px;
  font-weight: 100;
  color: white;
  cursor: pointer;
}
.footer{
    position:absolute;
    left:20px;
    bottom:110px;
    color: ivory;
    font-family: "Microsoft Yahei";
    font-weight: bold;
}
