
body{
margin: 0;
/*background: rgba(0, 162, 255, 0.904);*/
background-size: cover;
    background-image: url("../img/desktop.jpg");

}

/*.Regisform{
    position: relative;
    top: 30px;
    left: 15px;
    
}*/
.Regisbox{
    background-color:white;
    /*position: absolute;
    top:  30%;
    left: 30%;*/
    width: 600px;
    height: 450px;
    border: 1px solid rgba(0, 162, 255, 0.904);
    border-radius: 5px;
    margin: 0px auto;
    margin-top: 10%;
    /*padding: 2px;
    margin: 2px;*/
    opacity: 0.9;
}
.Regish1{
    /*position: relative;
    bottom:10px;
    left: 20px;*/
    font-size: 40px;
    padding: 2px 0px;
    margin-bottom: 2px;
    margin-left: 30px;
	font-weight: bold;
	text-align: left;
    color:rgb(238, 77, 13);

}
.textbox{
    /*position: relative;
    bottom: 10px;
    right: 80px;*/
    width: 520px;
    margin-top: 50px;
    margin-left: 80px;
    /*height: 50px;*/
    font-size: 18px;
    /*padding: 15px ;
    margin-left: 100px;*/
    text-align: left;
    /*border: 1px solid red;*/

}

.reg{
    display: inline-block;
    /*border: 1px solid red;*/
}
.login{
/*position: absolute;
top: 580px;
left: 630px;*/
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    padding: 5px 1px;
    margin: 0px 20px;
    padding-top: 68px;
    text-align: right;
   /* border: 1px solid red;*/
}

.login input{
    vertical-align: top;
}
.back1{
/*position: absolute;
top: 615px;
left: 355px;*/
    margin: 15px 20px;
    font-size: 13px;
}
.btn {
    /*position: relative;
    top: 125px;
    left: 135px;*/
    display: inline-block;
    background-color: rgb(238, 77, 13);
    color: white;
    margin-left: 200px;
    margin-top: 35px;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 6px;
}

input[type=text], select, textarea {
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: vertical;
}
input[type=password], select, textarea {
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: vertical;
}
input[type=email], select, textarea {
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: vertical;
}
.back{
    /*position: absolute;
    bottom: 60px;
    left: 500px;*/
    font-size: 18px;
}

a{
    text-decoration: none;
}