*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: #000;
}
body{
    font-size: small;
}

div.head-top{
    /* height:60px;*/
    height: 25px;
    margin-top: 10px;
    /*border: 1px solid red;*/
}

div.top-r{
    float: right;
    padding-right: 70px;
}

.top-r a{
    color: black;
    display: inline-block;
    margin-left: 15px;
}
div.cr-top{
    font: 14px "\5FAE\8F6F\96C5\9ED1";
}

.head{
    height: 90px;
    /*padding-top:40px;
    padding-left:10%;
    height: 40px;
    width:  100%;
    background: url("../img/banner1.jpg");*/
}

#logo{
    display: inline-block;
    font-size: 3em;
    width: 330px;
    margin-left: 200px;
    margin-top: 36px;
    color: black;
}

#search{
    display: inline-block;
    height: 90px;
    vertical-align: top;
    margin-left:  300px;
}

.search-content{
    display: inline-block;
    vertical-align: bottom;
    width: 400px;
    height: 30px;
    padding: 3px 0 3px 20px;
    font-size: 14px;
    color: #7d7d7d;
    line-height: 30px;
    background-color: #fff;
}

.search-btn {
    display: inline-block;
    vertical-align: bottom;
    width: 68px;
    height: 40px;
    border: none;
    background-color: #407fff;
    font-size: 15px;
    font-weight: 100;
    color: white;
    cursor: pointer;
    margin-left: -7px;
}

#search form{
    padding-top: 40px;
}

#top_bar{
    margin-top: 20px;
    /*border: 2px solid red;*/
}

.display{
    display: inline-block;
}
#page_name{
    width: 200px;
    line-height: 45px;
    text-align:  center;
    font-size: 1.5em;
    margin-left: 160px;
    color: white;
    background-color: #407fff;
    border-bottom: 1px solid #407fff;
}

#bar{
    margin-left: 50px;
    vertical-align: top;
}

.function{
    list-style-type: none;
    width: 380px;
    height: 40px;
    padding-top: 5px;
}

.function li{
    width: 80px;
    height: 100%;
    line-height: 100%;
    margin-left: -5px;
}

.function a{
    display: inline-block;
    text-align: center;
    font-size: 1.2em;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: black;
}
a:hover{
    color: white;
    background-color: #407fff;
}

.cut_line p{
    margin-top: 0px;
    padding: 0px;
    border-bottom: 4px solid #2a8cd7;
}

.container{
    margin: 0px auto;
    width: 80%;
    margin-top: 20px;
   /* border-bottom: 1px solid red;/
    /*border-bottom: none;*/
}

.search-result{
    margin-left:auto;
    margin-right:auto;
    width: 55%;
    margin-top: 15px;
    /*border: 1px solid red;*/
   /* height: 800px;*/
}

.result-term{
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom:  1px solid #d2dcd3;
}

h2{
    margin-bottom: 15px;
}

.search-result p{
    line-height: 20px;
    font-size: 1.1em;
}

.filed{
    margin-top: 10px;
    margin-bottom: 10px;
}

.filed-term{
    display: inline-block;
    border: 1px solid #407fff;
    color: #407fff;
}

.Pagenumber{
    clear: left;
    height: 30px;
    width: 500px;
    /*margin-left: 20%;*/
    margin-left: 40%;
    margin-top: 30px;
    /*border: 2px solid red;*/
}

.Pagenumber a{
    display: inline-block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
}
.num{
    float: left;
    display: inline-block;
    width: 40px;
    height: 35px;
    border: 1px solid gainsboro;
    margin-left: 10px;
    text-align: center;
    /*padding-top: 10px;*/
}

.footer{
    width: 100%;
    margin-bottom: 0px;
    height: 20px;
    background-color: cornflowerblue;
    font-size: small;
}

.footer li{
    float: left;
    list-style-type: none;
    margin-left: 20%;
}
.left{
    position: fixed;
    left: 0px;
    top: 30%;
}

.lefttitle{
    background-color: #ededed;
    padding-top: 10px;
    width: 100%;
    border: 1px solid #dadada;
    border-radius: 2px;
    text-align: center;
    border-radius: 10px 10px 0px 0px
}
.order{
    padding-right: 70px;
    padding-bottom: 11px;
    padding-top: 11px;
    text-align: justify;
}

.order li{
    padding-top: 10px;
}